@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-image: url(/card/Glass\ morphism.png);
  background-size: cover;
}

.card-container {
  position: absolute;
    left: 48vh;
    top: 28vh;
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.0));
  border: 1.5px solid rgba(255,255,255,0.2); 
  width: 425px;
  height: 250px;
  border-radius: 40px;
  backdrop-filter: blur(20px);
}

.card-container h4 {
  color: #fefefe;
  position: absolute;
    top: 2vh;
    left: 5vh;
    font-size: 1.25em;
}

.card-container p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3vh;
  color: #fefefe;
  position: absolute;
  top: 30vh;
  left: 5vh;
}

#mastercard-icon {
  width: 8vh;
  position: absolute;
    left: 56vh;
    top: 30vh;
}

#contactless-icon {
  width: 3vh;
  position: absolute;
    left: 59vh;
    top: 5.5vh;
}

#chip-icon {
  width: 6vh;
  position: absolute;
    left: 3.5vh;
    top: 4vh;
}

.card-container h4 {
  position: inherit;
    top: 31.36vh;
}

#card-number {
  position: inherit;
  top: 25vh;
  font-family: 'Inconsolata', monospace;

}

